* {
    font-family: Poppins;
}

button.add {
    border: 1px solid lightgrey;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: rgba(16, 94, 16, 0.514);
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 20px;
}

button.add:hover {
    background-color: rgb(16, 94, 16);
    transition: 700ms;
    color: white;
}

.check, .content, .delete {
    padding: 5px;
}

.check i {
    opacity: 0;
}

.check button {
    border-radius: 100%;
    width: 1.5rem;
    height: 1.5rem;
    background-color: none;
    border: 2px solid grey;
    padding: 0px;
}

.check button:hover {
    background-color: white;
    border: none;
    transition: 600ms;
}

.check button:hover i {
    opacity: 0.5;
    transition: 700ms;
}

.check button:focus i {
    opacity: 1;
    transition: 700ms;
}

.check button:focus {
    background-color: white;
    border: none;
}

.check button:visited {
    opacity: 0;
    transition: 400ms;
}

.elem {
    display: grid;
    grid-template-columns: max-content 1fr max-content;
}

.todo-list {
    display: flex;
    flex-direction: column;
}

/* body {
    display: flex;
    flex-direction: column;
}
 */

body {
    display: flex;
    flex-direction: column;
}